body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.adminDash table, th, td {
  border: 2px solid;
  border-collapse: collapse;
  padding: 5px;
}

.adminDash button {
  border-radius: 0%;
  border: 1px solid rgb(29, 28, 28);
  color: rgb(29, 28, 28);
  background-color: rgb(233, 233, 154);
  font-size: 14px;
  font-weight: bold;
  margin: 5px;
}

.adminDash button:hover {
  border: 1px solid rgb(233, 233, 154);
  color: rgb(233, 233, 154);
  background-color: rgb(29, 28, 28);
}

.adminDash .fix li::marker {
  color: white;
}

.adminDash select {
  border-radius: 0%;
  border-bottom: 1px solid;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
}

.adminDash select:hover {
  background-color: rgb(29, 28, 28);
  color: rgb(233, 233, 154);
}

.adminDash option {
  border-radius: 0%;
}

.adminDash input {
  margin: 5px;
}

.adminDash .datePicker {
  border-radius: 0%;
  border-bottom: 1px solid;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  color: rgb(29, 28, 28);
  margin: 5px;
  font-size: 14px;
  font-weight: bold;
}

.adminDash .datePicker:hover {
  background-color:rgb(233, 233, 154);
  border: 1px solid;
  cursor: pointer;
}

.dash #welcome {
  float: right;
  padding: 20px;
}